body{
  background-color: grey;
  
}


@font-face {
	font-family: 'aoaFont';
	font-style: normal;
 	font-weight: 400;
 	src: local('aoaFont'), url("../images/aoaFont.ttf") format('truetype');
}


#playerContainer, #mapEnemyDisplay, .page-header{
	font-family: "aoaFont";
}

#titleHead{
	margin-bottom:10px;
}

img {
	width:100%;
	height:200px;
}

#textWindow {
	width:100%;
	height:350px;
	
}

#playerContainer, #mapEnemyDisplay {
	padding:10px;
	border: solid 1px black;
	border-radius: 5px;
}

#textWindow {
	width:90%;
	height:350px;
	background-color:black;
  color: green;
  overflow-y: scroll;
  word-wrap: break-word;
}

#commandInput{
  width: 90%;
}

.playerName{
  color: red;
}
